<style>
.attribution { 
  font-size: 11px; 
  text-align: center;  
  font-family: 'Montserrat', sans-serif;
}
.attribution a { 
  color: hsl(228, 45%, 44%);   
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: hsl(30, 38%, 92%);
 
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
justify-items: center;
justify-content: center;
}
.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  border-radius: 3%;
  width: 600px;
  height:auto;
  margin: 0 auto;
 
 
}
.left {
  width: 50%;
}
.desk-img {
  max-width:100%;
  height:auto;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  display: block;
}
.mob-img {
  display: none;
}
.right {
  width: 50%;
}
.right-container {
  padding: 0 30px
}
.subhead {
  padding: 10px 0 0 0;
  font-family: 'Montserrat', sans-serif;

}
h1 {
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;

}
p {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.price {
  display: flex;
  align-items: center;
}
.discount-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  line-height: 32px;
  vertical-align: middle;
}
.original-price {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  vertical-align: middle;
  padding-left: 20px;
}
button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
   vertical-align: middle;
}
@media screen and (max-width: 600px) {
.container {
flex-direction: column;
border-radius: 3%;
max-width: 340px;
}
.left {
width: 100%;

}
.mob-img {
  display: block;
  width: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.desk-img {
  display: none;
}
.right {
  display: block;
  width: 100%;

}
.right-container {
  padding: 0 30px 20px 30px;
}
}
</style>